#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

select, input {
  font-size: large;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  border: 0px solid rgb(75, 70, 74);
  border-radius: .5em;
  padding: 20px;
  width: 700px;
  display: grid;
  grid-template-columns: 2fr 0.1fr 2fr;
  grid-gap: 20px;
}

.container>* {
  padding: 10px;
  border: 2px solid rgb(95, 97, 110);
  border-radius: .5em;
  margin: 0;
}

.list-group {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: .5em;
  width: 20em;
}
.list-group {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: .5em;
  width: 20em;
}
.slim {
  width: 3.25em;
}
.narrow {
  width: 18em;
}


.list-group li {
  border-top: 1px solid #ccc;
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group li:first-child {
  border-top: 0;
}

.badge-person2 {
  background-color: rgb(199, 199, 24);
  color: #000;
  font-weight: bold;
  font-size: 120%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}

.list-group .badge-person1 {
  background-color: rgb(47, 47, 232);
  color: #fff;
  font-weight: bold;
  font-size: 120%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}

.list-group .badge-person0 {
  background-color: rgb(57, 60, 54);
  color: rgb(40, 50, 31);
  font-weight: bold;
  font-size: 120%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}

.list-group .badge0 {
  background-color: #6caf7d;
  color: #000;
  font-weight: bold;
  font-size: 120%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}

.list-group .badge1 {
  background-color: #b5d695;
  color: #000;
  font-weight: bold;
  font-size: 120%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}

.list-group .badge2 {
  background-color: #fffcb6;
  color: #000;
  font-weight: bold;
  font-size: 120%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}

.list-group .badge3 {
  background-color: #f6c379;
  color: #000;
  font-weight: bold;
  font-size: 120%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}

.list-group .badge5 {
  background-color: #ea8456;
  color: #fff;
  font-weight: bold;
  font-size: 120%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}

.list-group .badge8 {
  background-color: #d43d51;
  color: #fff;
  font-weight: bold;
  font-size: 120%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}

.list-group .badge13 {
  background-color: #ff37af;
  color: #000;
  font-weight: bold;
  font-size: 120%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}
